<div class="container">
  <div class="row">
    <div class="col">
      <div class="shadow-lg p-3 m-3 bg-body rounded">
        <div class="p-3 mb-2 bg-primary bg-gradient fw-bold text-white">Agregar Estudiante</div>
        <form action="/estudiante/crear" method="post" class="needs-validation" novalidate>
          <div class="row g-2">
            <div class="form-floating col-md-6">              
              <input type="text" class="form-control" id="nombres" placeholder="Nombres" required>
              <label for="nombres" class="form-label">Nombres</label>
              <div class="invalid-feedback">
                Escriba los nombres
              </div>
            </div>
            <div class=" form-floating col-md-6">              
              <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
              <label for="apellidos" class="form-label">Apellidos</label>
              <div class="invalid-feedback">
                Escriba los apellidos
              </div>
            </div>            
            
            <div class="form-floating col-md-6">              
              <input type="text" class="form-control" id="documento" placeholder="Documento" required>
              <label for="documento" class="form-label">Documento</label>
              <div class="invalid-feedback">
                Escriba el número de documento
              </div>
            </div>
            <div class="form-floating col-md-4">
              <select name="tipoDocumento" id="tipoDocumento" class="form-select" aria-label="Tipo documento" required>
                <option selected disabled value="">Seleccione...</option>
                <option value="RC">Registro Civil</option>
                <option value="TI">Tarjeta de identidad</option>
                <option value="CC">Cédula de ciudadania</option>
              </select>
              <label for="tipoDocumento" class="form-label">Tipo Documento</label>
              <div class="invalid-feedback">
                Seleccione el tipo de documento
              </div>
            </div>

            <div class="form-floating col-md-6">
              <input type="date" class="form-control" id="fnacimiento" min="1900-01-01" max="2090-01-01" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" placeholder="Fecha nacimiento" required>              
              <label for="fnacimiento" class="form-label">Fecha de nacimiento</label>
              <div class="invalid-feedback">
                Seleccione una fecha de nacimiento
              </div>              
          </div>

            <div class="form-floating col-md-4">
              <select name="grado" id="grado" class="form-select" aria-label="Grado" required>
                <option selected disabled value="">Seleccione el grado...</option>
                <% grados.forEach(grado => { %>
                  <option value="<%=grado.id%>"><%=grado.nombre%></option>
                <% }) %>
              </select>
              <label for="grado" class="form-label">Grado</label>
              <div class="invalid-feedback">
                Seleccione el grado
              </div>
            </div>
            
            <div class="form-floating col-md-4">
              <select name="departamento" id="departamento" class="form-select" aria-label="Departamento" required>
                <option selected disabled value="">Seleccione el Departamento...</option>
                <% departamentos.forEach(departamento => { %>
                  <option value="<%=departamento.id%>"><%=departamento.nombre%></option>
                <% }) %>
              </select>
              <label for="departamento" class="form-label">Departamento</label>
              <div class="invalid-feedback">
                Seleccione el departamento
              </div>
            </div>

            <div class="form-floating col-md-4">              
              <select name="municipio" id="municipio" class="form-select" aria-label="Municipip" required>
                <option selected disabled value="">Seleccione el Municipio...</option>                             
              </select>
              <label for="municipio" class="form-label">Municipio</label>
              <div class="invalid-feedback">
                Seleccione el municipio
              </div>
            </div>

          </div>
          
          <div class="col-12 mt-3 text-center">
            <button class="btn btn-success" type="submit">Guardar Estudiante</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
  //Selects dependientes Departamento-Municipios
  $(function(){
	var fillSecondary = function(){
	var selected = $('#departamento').val();
    if (selected) {
      $('#municipio').empty();
      $('#municipio').append('<option selected disabled value="">Seleccione el Municipio...</option>');
      $.getJSON("/municipio/"+selected,null,function(data){
        console.log(data);
        data.municipios.forEach(function(municipio,index){
            $('#municipio').append('<option value="'+municipio.id+'">'+municipio.nombre+'</option>');
        });
      });
    }
	}
	$('#departamento').change(fillSecondary);
	fillSecondary();
  });
</script>


<script>
// Script Bootstrap de validación del formulario
  (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>